[submodule "widgets/hashpage/tabs"]
	path = widgets/hashpage/tabs
	url = git://github.com/hashpage/hpw-tabs.git
[submodule "skins/hashpage/start"]
	path = skins/hashpage/start
	url = git://github.com/hashpage/hps-start.git
[submodule "widgets/hashpage/bio"]
	path = widgets/hashpage/bio
	url = git://github.com/hashpage/hpw-bio.git
[submodule "widgets/hashpage/presence"]
	path = widgets/hashpage/presence
	url = git://github.com/hashpage/hpw-presence.git
[submodule "widgets/hashpage/popeye"]
	path = widgets/hashpage/popeye
	url = git://github.com/hashpage/hpw-popeye.git
[submodule "widgets/hashpage/pictures"]
	path = widgets/hashpage/pictures
	url = git://github.com/hashpage/hpw-pictures.git
[submodule "widgets/hashpage/videos"]
	path = widgets/hashpage/videos
	url = git://github.com/hashpage/hpw-videos.git
[submodule "widgets/hashpage/tweets"]
	path = widgets/hashpage/tweets
	url = git://github.com/hashpage/hpw-tweets.git
[submodule "widgets/hashpage/activity"]
	path = widgets/hashpage/activity
	url = git://github.com/hashpage/hpw-activity.git
[submodule "widgets/hashpage/blog"]
	path = widgets/hashpage/blog
	url = git://github.com/hashpage/hpw-blog.git
[submodule "widgets/hashpage/bookmarks"]
	path = widgets/hashpage/bookmarks
	url = git://github.com/hashpage/hpw-bookmarks.git
[submodule "engine"]
	path = engine
	url = git://github.com/hashpage/engine.git
[submodule "skins/hashpage/blank"]
	path = skins/hashpage/blank
	url = git://github.com/hashpage/hps-blank.git
[submodule "skins/hashpage/redsilver"]
	path = skins/hashpage/redsilver
	url = git://github.com/hashpage/hps-redsilver.git
[submodule "skins/hashpage/simplicity"]
	path = skins/hashpage/simplicity
	url = git://github.com/hashpage/hps-simplicity.git
[submodule "widgets/hashpage/badge"]
	path = widgets/hashpage/badge
	url = git://github.com/hashpage/hpw-badge.git
[submodule "widgets/hashpage/iframe"]
	path = widgets/hashpage/iframe
	url = git://github.com/hashpage/hpw-iframe.git
