[submodule "widgets/pagebout/tabs"]
	path = widgets/pagebout/tabs
	url = git://github.com/pagebout/pbw-tabs.git
[submodule "skins/pagebout/start"]
	path = skins/pagebout/start
	url = git://github.com/pagebout/pbs-start.git
[submodule "widgets/pagebout/bio"]
	path = widgets/pagebout/bio
	url = git://github.com/pagebout/pbw-bio.git
[submodule "widgets/pagebout/presence"]
	path = widgets/pagebout/presence
	url = git://github.com/pagebout/pbw-presence.git
[submodule "widgets/pagebout/popeye"]
	path = widgets/pagebout/popeye
	url = git://github.com/pagebout/pbw-popeye.git
[submodule "widgets/pagebout/pictures"]
	path = widgets/pagebout/pictures
	url = git://github.com/pagebout/pbw-pictures.git
[submodule "widgets/pagebout/videos"]
	path = widgets/pagebout/videos
	url = git://github.com/pagebout/pbw-videos.git
[submodule "widgets/pagebout/tweets"]
	path = widgets/pagebout/tweets
	url = git://github.com/pagebout/pbw-tweets.git
